{% extends 'layouts/base_booking.html' %}
{% block title %} : Home {% endblock %}
{% load static %}
{% block content %}
<div class="qbootstrap-loader"></div>
<div id="page">
  <nav class="qbootstrap-nav" role="navigation">
    <div class="col-md-12" id="headr">
      <div class="top">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-lg-8 col-xs-12 col-md-push-1 ">
            <h3 class="label_hel"><a href="/">Booking List BioPAK:</a></h3>
              <h3 class="label_hel">Warehouse names goes here if client has them</label>
          </div>
        <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 text-right"> <a href="">Login Info Client</a> | <a href="">Accounts</a> | <a href="">Client Mode</a> | <a href="/">Home</a> </div>
        </div>
        <div class="line"></div> 
      </div>
      <div class="col-md-7 col-sm-12 col-lg-8 col-xs-12 col-md-push-1">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#header">Header</a></li>
          <li><a data-toggle="tab" href="#all_booking">All Bookings</a></li>
          <li><a data-toggle="tab" href="#other1">Other 1</a></li>
          <li><a data-toggle="tab" href="#other2">Other 2</a></li>
          <li><a data-toggle="tab" href="#other3">Other 3</a></li>
          <li><a data-toggle="tab" href="#other4">Other 4</a></li>
          <li><a data-toggle="tab" href="#other5">Other 5</a></li>
        </ul>
      </div>
      <div id="icn" class="col-md-4 col-sm-12 col-lg-4 col-xs-12 text-right">
        <a href=""><i class="icon-plus" aria-hidden="true"></i></a>
        <div class="popup" onclick="myFunction()">
          <i class="icon-search3" aria-hidden="true"></i>
            <form id="srch" action="" method="get">
              <input class="popuptext" id="myPopup" type="text" placeholder="Search.." name="search">
            </form>
        </div>
        <a href="/allbookings/"><i class="icon icon-th-list" aria-hidden="true"></i></a>
        <a href=""><i class="icon-cog2" aria-hidden="true"></i></a>
        <a href=""><i class="icon-calendar3" aria-hidden="true"></i></a>
        <a href="">?</a>
      </div>
    </div>
    <div class="top-menu">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div class="tab-content">
              <div id="header" class="tab-pane fade in active">
                <table style="width:100%">
                  <tr>
                    <td> <h3>Header</h3> </th>
                    <td align="right"> <h3>Count : 4</h3> </th>
                 </tr>
                </table>
                <div class="table-responsive">
                <table class="table table-hover table-bordered sortable">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Booking Id</th>
                      <th scope="col">BookingID Visual</th>
                      <th scope="col">Booked Date</th>
                      <th scope="col">Pickup from /<br/>
                        Manifest Date</th>
                      <th scope="col">Ref. Number</th>
                      <th scope="col">Status</th>
                      <th scope="col">Freight Provider</th>
                      <th scope="col">Service</th>
                      <th scope="col">Pickup By</th>
                      <th scope="col">Latest Delivery</th>
                      <th scope="col">FP Booking Number</th>
                      <th scope="col">Company</th>
                      <th scope="col">CompanyName</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for booking in bookings %}
                    <tr>
                      <th scope="row">{{booking.id}}</th>
                      <td>{{booking.b_bookingID_Visual}}&nbsp;&nbsp;<a href="#"><i class="icon icon-th-list"></i></a></td>
                      <td>{{booking.b_dateBookedDate}}</td>
                      <td>{{booking.puPickUpAvailFrom_Date}}</td>
                      <td>{{booking.b_clientReference_RA_Numbers}}&nbsp;&nbsp;<a href="#"><i class="icon icon-warning"></i></a>&nbsp;&nbsp;<a href="#"><i class="icon icon-printer"></i></a></td>
                      <td>{{booking.b_status}}</td>
                      <td>{{booking.vx_freight_provider}}&nbsp;&nbsp;<a href="#"><i class="icon icon-plus"></i></a></td>
                      <td>{{booking.vx_serviceName}}</td>
                      <td>{{booking.s_05_LatestPickUpDateTimeFinal}}</td>
                      <td>{{booking.s_06_LatestDeliveryDateTimeFinal}}</td>
                      <td>{{booking.v_FPBookingNumber}}</td>
                      <td>{{booking.puCompany}}</td>
                      <td>{{booking.deToCompanyName}}</td>
                    </tr>   
                  {% endfor %}
                  </tbody>
                </table>
                </div>
              </div>
              <div id="all_booking" class="tab-pane fade">
                <p>Date</p>
                <div id="line1"></div>
              <div class="row">
                <div id="msection" class="col-md-6">
                <ul id="datesection">
                  <li><a href="#">( 04 ) Errors to Correct</a></li>
                  <li><a href="#">( 00 ) Missing Labels</a></li>
                  <li><a href="#">( 50 ) To Manifest</a></li>
                  <li><a href="#">( 15 ) To Process</a></li>
                  <li><a href="#">( 01 ) Closed</a></li>
                </ul>
                </div>
                <div class="col-md-4">
                  <a href="#" id="manifest">Manifest</a>
                </div>
                <div id="found" class="col-md-2">
                  <p>Found: <b>32</b> of 8607</p>
                </div>
              </div>
              <div id="other1" class="tab-pane fade">
                <h3>Other 1</h3>
                <p>Some content in Other 1</p>
              </div>
              <div id="other2" class="tab-pane fade">
                <h3>Other 2</h3>
                <p>Some content in Other 2</p>
              </div>
              <div id="other3" class="tab-pane fade">
                <h3>Other 3</h3>
                <p>Some content in Other 3</p>
              </div>
              <div id="other4" class="tab-pane fade">
                <h3>Other 4</h3>
                <p>Some content in Other 4</p>
              </div>
              <div id="other5" class="tab-pane fade">
                <h3>Other 5</h3>
                <p>Some content in Other 5</p>  
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

{% endblock %}    
