{% extends 'layouts/base.html' %}
{% block title %} : Home {% endblock %}
{% load static %}
{% block content %}
    <div class="container h-100vh">
    	<div class="row justify-content-md-center mt-5 mb-5">
    		<div class="col-12">
    			<form action="/share/upload/" class="dropzone" id="uploadDropzone">
    				{% csrf_token %}
    			</form>
        	</div>
        	<div class="col-12">
        		<p id="upload-status"></p>
        		<p id="upload-filename"></p>
        	</div>
        </div>
    </div>
{% endblock %}  
{% block extra_css_lib %}
	<link rel="stylesheet" href="{% static '/js/libs/dropzone/dropzone.css' %}">
{% endblock %}
{% block extra_js %}
	<script src="{% static '/js/libs/dropzone/dropzone.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script>
		var filename = "";

		Dropzone.options.uploadDropzone = {
			paramName: "file", 	// The name that will be used to transfer the file,
			maxFilesize: 250, 	// MB
			accept: function(file, done) {
				console.log(file.name);
				filename = file.name;
				if (file.name == "justinbieber.jpg") {
				  done("Naha, you don't.");
				}
				else { done(); }
			},
			init: function() {
				this.on("success", function(file) { 
					var myInterval = setInterval(myTimer, 2000);

					function myTimer() {
					    $.ajax({
						  url: "/share/upload/status/",
						  data: {filename: filename}
						}).done(function(res) {
						  if (res.status_code === 0) {
						  	$("p#upload-status").text("Checking file(" + file.xhr.response + ")");
						  } else if (res.status_code === 1) {
						  	$("p#upload-status").text("Successfully uploaded!");
						  } else if (res.status_code === 2) {
						  	let errors = res.errors;
						  	$("p#upload-status").text("There are some error(s) while uploading. Please fix out and upload again.");

						  	for (let i = 0; i < errors.length; i++)
						  		$("p#upload-status").append("<p>" + errors[i] + "</p>");
						  }

						  if (res.status_code !== 0)
						  	myStopFunction();
						});
					}

					function myStopFunction() {
					    clearInterval(myInterval);
					} 

					// $("p#upload-filename").text("Upload a file with prepend filename: " + file.xhr.response);
				});
			}
		};
	</script>
{% endblock %}  