.cut-user-name{color:#333;font-size:14px;background: none;}
.fa .fa-user{color: #fff;}
.alert-danger .errorlist {
	list-style: none;
    text-align: left;
    padding: 0px;
}
header a, header a:hover, header a:active{color: #fff;}


.dropzone {
    min-height: 300px;
    border: 1px solid rgba(193, 194, 195, 0.5);
    background: #e9ecef;
    padding: 54px 54px;
    border-radius: 10px;
 }

 .dropzone .dz-message {
    text-align: center;
    margin: 6em 0;
}
ul,li{list-style:none;}